* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.basliq {
  width: 100%;
  padding: 30px 150px;
  display: flex;
  justify-content: space-between;
}

.sag--teref {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-weight: 100;
  font-size: 18px;
}

.loca {
  display: flex;
  gap: 10px;
}

.fiziki {
  font-weight: 600;
}

.loca > div:first-child > i {
  color: red;
}

.qirmizi--button > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid red;
  background-color: white;
  border-radius: 7px;
}

.qirmizi--button > button > i {
  color: red;
}

.navbar {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #e8ecf1;
  /* height: 80px; */
  font-size: 18px;
  color: #2e3131;
}
.navbar > div:first-child {
  display: flex;
  gap: 20px;
}

.navbar > div:first-child > div {
  padding: 20px 0;
}

.navbar > div:last-child > button {
  padding: 7px 20px;
  border-radius: 10px;
  background-color: #ef3e42;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 200;
}
.kartlar {
  position: relative;
}

.kartlar:hover {
  .kartlar--hidden {
    display: block;
  }
}
.kartlar--hidden {
  display: block;
  position: absolute;
  margin-top: 20px;
  /* left: -150px; */
  right: 0;
  width: 100vw;
  background-color: green;
  height: 100px;
}

/* .kreditler { */
/* position: relative; */
/* transition: 150ms all ease-in-out;
}

.kreditler:hover {
  .kreditler--hidden {
    display: block;
  }
} */
/* 
.kreditler--hidden {
  display: none;
  display: flex;
  margin-top: 20px;
  left: 0;
  position: absolute;
  width: 100vw;
  background-color: rgb(210, 232, 210);
  height: 100px;
} */

/* .kreditler--hidden > div:first-child > div {
  padding: 20px 0 20px 150px;
} */
